// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.b{
	width: 450px;
	text-align: center;
	color: #ffffff;
	background-color: #17a2b8;
	margin: 10px;
}

div.c{
	width: 450px;
	text-align: center;
	color: #ffffff;
	background-color: #28a745;
	margin: 10px;
}