// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.a {
	width: 100%;
}
th.box0{
	width: 150px;
	border-top: 2px solid #dee2e6;
}
th.box1{
	width: 230px;
	border-top: 2px solid #dee2e6;
}
th.box2{
	width: 300px;
	border-top: 2px solid #dee2e6;
}

.data1{
	width: 150px;
	border-top: 2px solid #dee2e6;
}
.data2{
	width: 230px;
	border-top: 2px solid #dee2e6;
}
.data3{
	width: 300px;
	border-top: 2px solid #dee2e6;
}




